<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="#">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Título</ion-label>
  <ion-input placeholder="Digite aqui"></ion-input>
  <ion-label>Subtítulo</ion-label>
  <ion-input placeholder="Digite aqui"></ion-input>
  <ion-label>Descrição</ion-label>
  <ion-textarea placeholder="Digite aqui"></ion-textarea>
  
</ion-content>
